services:
  postgres:
    image: postgres
    container_name: postgres
    restart: always
    ports:
      - '5433:5432'
    environment :
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: admin
        POSTGRES_DB: produit1

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - 8070:8080
